$app-background-dark: #121212;
$app-foreground-dark: #1E1E1E;
$app-accent-dark: #DC9B3F;

$app-surface-dark-darker: #747474;
$app-surface-dark-lighter: #E2E2E2;

$app-status-red: #FF5B49;
$app-status-yellow: #FFE552;
$app-status-green: #42CC5F;


