div#app-wrapper {
  height: 100%;
  width: 100%;

  display: -ms-grid;
	display: grid;

  -ms-grid-row: 1fr;
  -ms-grid-columns: 1fr 400px 1fr;

	grid-template-rows: 1fr;
  grid-template-columns: 1fr 400px 1fr;
}