@import './commons/variables.scss';


* {
  margin: 0;
  padding: 0;

  font-family: Montserrat, Arial, Sans Serif;
  color: $app-surface-dark-lighter;
}

a {
  text-decoration: none;
  color: $app-surface-dark-lighter;
}

html, body, div#root {
  width: 100%;
  height: 100%;
  background: $app-background-dark;
}